@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.inputWrapper {
  padding: 15px 30px;
  background-color: colors.$GRAYE;

  .signup {
    h5 {
      margin-bottom: 5px;
      font-size: 0.6em;
      font-weight: 400;
      color: colors.$GRAY6;
    }

    input {
      width: 100%;
      padding: 0 10px;
      font-size: 0.8em;
      line-height: 40px;
      border: 1px solid colors.$GRAYD;
      border-radius: 5px;
    }

    .checkImg {
      position: relative;
      right: 10px;
      bottom: 28px;
      float: right;
      width: 15px;
      height: 15px;

      svg {
        fill: colors.$GRAYA;
      }
    }

    .checktrue {
      svg {
        fill: colors.$MINT;
      }
    }

    .checkMsg {
      font-size: 0.6em;
      color: colors.$DEEPRED;
    }
  }

  .signup + .signup {
    padding-top: 20px;
  }
}
