@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.appWrapper {
  @include flexbox.flexbox($jc: center);
  flex-direction: column;
  background-color: colors.$WHITE;

  .componentWrapper {
    position: relative;
    width: 360px;
    margin: 100px 0;
  }
}
