@use '/src/styles/constants/colors';

.appWrapper {
  background-color: colors.$WHITE;

  .componentWrapper {
    position: relative;
    left: 50%;
    width: 360px;
    margin: 100px 0;
    transform: translateX(-50%);
  }
}
