@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

/* Toggle.js */
input[type='checkbox'] {
  display: none;
  height: 36px;
}

.toggleLabel {
  position: relative;
  @include flexbox.flexbox(center center);

  .toggleCheck {
    position: relative;
    height: 36px;
    flex: 0 0 360px;
    text-align: center;
    color: colors.$GRAY6;
    font-weight: 700;
    background: colors.$GRAYD;
    border: 2px solid colors.$GRAYD;
    border-radius: 40px;
    box-sizing: content-box;
    cursor: pointer;
    top: 2px;
  }

  .toggleCheck:before,
  .toggleCheck:after {
    position: absolute;
    top: 0;
    width: 180px;
    line-height: 36px;
  }

  .toggleCheck:after {
    color: colors.$GRAYA;
  }

  .toggleCheck:before {
    background: colors.$WHITE;
    border-radius: 40px;
    z-index: 5;
    transition: all ease 0.3s;
  }
}

input[type='checkbox']~.toggleLabel .toggleCheck:before {
  content: attr(data-unchecked);
  left: 0;
}

input[type='checkbox']~.toggleLabel .toggleCheck:after {
  content: attr(data-checked);
  left: 180px;
}

input[type='checkbox']:checked~.toggleLabel .toggleCheck:before {
  content: attr(data-checked);
  left: 180px;
}

input[type='checkbox']:checked~.toggleLabel .toggleCheck:after {
  content: attr(data-unchecked);
  left: 0;
}