@use '/src/styles/constants/colors';

.tabs {
  border-bottom: 2px solid colors.$GRAYD;

  button {
    input[type='radio'] {
      display: none;

      & + label {
        display: block;
        font-weight: 700;
        line-height: 40px;
        color: colors.$GRAYA;
        cursor: pointer;
      }

      &:checked + label {
        color: colors.$GRAY6;
        transition: color ease 0.2s;
      }
    }
  }

  .tabDecoration {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: colors.$MINT;
    transition: ease 0.2s;
  }
}
